{% extends 'history/base_history.html' %}


{% block title %}
	Delete Post "{{ post.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}

	<form action="{{ post.get_delete_url }}" method="post">
		{% csrf_token %}

		<h3 style="color: #E4E4E4;">Вы действительно хотете удалить этот <b>"{{ post.title|title }}"</b> пост?</h3>
		<a href="{{ post.get_absolute_url }}">Cancel</a>
		<button type="submit" name="button" class="btn btn-danger">Delete</button>
		
	</form>
		

{% endblock %}